.title
{
	display: block;
	font-size: calc((10vh + 10vw)/7);
	text-align: center;
	margin-top: 50px;
}

#corpPageMain
{
	margin-left: 10vw;
	width: 80vw;
	height: 85vh;
}

.nav
{	
	/*margin-top: calc((10vh)/5);*/
	position: absolute;
	left: 0;
	top: 0;
	margin-top: calc(40vh/2);
	margin-left: calc((50vw)/5);
	float left;
	border:2px orange solid;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: calc((25vw + 25vh)/12);;
	padding-bottom: 60px;
	width: 15vw;
	height: calc((25vw + 25vh)/3);
	display: inline-block;
    justify-content: center;
}

.navButton
{
	width: 15vw;
    text-align: center;
	font-size: calc((10vw + 10vh)/10);
	background-color: white;
	display: block;
	margin-bottom: calc((25vw + 25vh)/15);;
	overflow: auto;
}

.navButton:active{
    background:orange;
}

.rooms
{
	margin: calc((10vh + 10vw)/5);
	margin-left: calc((30vh + 40vw)/2); 
	position: relative;
	display: inline-block;
	/*border: 1px solid black;*/
	float right;
	width: 40vw;
	height: 100px/5vh;
	overflow: auto;
}

.room
{
	display: block;
	border: 1px solid grey;
	height: 4vh;
	margin-bottom: 1vh;
	margin-top: 1vh;	
	overflow: hidden;
	min-height: 35px;
}

.removeRoom
{
	border: 1px solid black;
	background-color: red;
	color: white;
	margin-left: 1vw;
	margin-top: 1vh;
	display: inline;
	width: 50px/2vw;
	height: 50px/2vw;
	overflow: auto;
}

.removeRoom:active
{
	background-color: darkred;
}

.roomTitle
{
	margin-left: 2vw;
 	display: inline;
	height: 4vh;
	margin-bottom: 1vh;
	padding:1px;
	overflow: auto;
	min-height: 35px;
}

.roomCurr
{
	display: inline;
	position: absolute;
	right:0;
	margin-right: 8vw;
	height: 4vh;
	padding: 1px;
	margin-bottom: 1vh;	
	overflow: auto;
	min-height: 35px;
}

.roomPrice
{
	display: inline;
	position: absolute;
	right:0;
	margin-right: 5vw;
	height: 4vh;
	padding: 1px;
	margin-bottom: 1vh;	
	overflow: auto;
	min-height: 35px;
}

.info
{
	border: 1px solid black;
	background-color: #169CF3;
	color: white;
	position: absolute;
	right:0;
	margin-right: 1vw;
	margin-top: 1vh;
	display: inline;
	width: 50px/2vw;
	height: 50px/2vw;
	overflow: auto;
}

.info:active
{
	background-color: #0D5B8E;
}

.addRoom
{
	border: 1px solid black;
	background-color: green;
	color: white;
	margin-left: calc((30vh + 30vw)/2);
	margin-top: calc((10vh + 10vw)/1.5);
	position: absolute;
	display: inline;
	width: 50px/2vw;
	height: 50px/2vw;
	overflow: auto;
}

.addRoom:active
{
	background-color: darkgreen;
}

#edit
{
	width: 100vw;
	height: 88vh;
	position: fixed;
	left: 0;
	top: 0;
}

#editBackground
{
	background-color: hsla(360, 0%, 41%, 0.5);
	border: 1px solid hsla(360, 0%, 41%, 0.5);
	width: 100vw;
	height: 88vh;
	position: fixed;
	left: 0;
	top: 0;
}

.editBox
{
	background-color: white;
	border:1px solid black;
	width: 30vw;
	height:47vh;
	position: fixed;
	left: 0;
	top: 0;
	margin-top: 20vh;
	margin-left: 35vw;
	overflow-x:hidden;
	overflow-y: auto;
}

.editBoxTitle
{
	background-color: orange;
	border-bottom:0.1vh solid black;
	width: 30vw;
	height:4.5vh;
	font-size: 3vh;
	text-align: center;
}

.editBoxInput
{
	font-size: 2.5vh;
	display: inline-block;
	margin-top: 4vh;
	margin-left: 1vw;
	margin-right: 1vw;
}

#editRoomTitle
{
	position: absolute;
	width: 20vw;
	right: 0;

}

#editRoomDescription
{
	font-family: 'Open Sans', sans-serif;
	overflow: auto;
	text-align: left;
	position: absolute;
	right: 0;
	width: 20vw;
	height: 10vh;
}

#editRoomCurrencyLabel
{
	margin-top: 10vh;
}

#editRoomCurrency
{
	margin-top: 10vh;
	position: absolute;
	right: 0;
	width: 20vw;
	text-align: left;
}

#editRoomPrice
{
	position: absolute;
	right: 0;
	width: 10vw;
}

#Done
{
	position: absolute;
	text-align: center;
	font-size: 2.5vh;
	margin-left: 14vw;
	margin-top: 1vh;
	background-color: rgb(204,235,252);
}

#donePW
{
	position: absolute;
	text-align: center;
	font-size: 2.5vh;
	margin-left: 40vw;
	margin-top: -2.5vh;
	background-color: rgb(204,235,252);
}

#doneEmail
{
	position: absolute;
	text-align: center;
	font-size: 2.5vh;
	margin-left: 40vw;
	margin-top: -2.5vh;
	background-color: rgb(204,235,252);
}

.titles
{
	display: inline-block;
	margin-top: 7vh;
	margin-left: calc((30vh + 30vw)/2);
}

.infoLabel
{
	display: inline-block;
	margin-top: 0.5vh;
}

#country
{
	overflow: hidden;
}

.textbox
{
	position: absolute;
	right: 0;
	display: block;
	border: 1px solid grey;
	height: 2vh;
	margin-bottom: 1vh;	
	margin-right: calc((20vh + 10vw));
	overflow: auto;
	min-height: 30px;
	display: inline;
	width: calc((10vh + 10vw));
	font-size: calc((10vh + 10vw)/10);
}

.t2  /*for title change password*/
{
	height: 4vh;
	margin-bottom: 1vh;	
	overflow: auto;
	min-height: 35px;
	font-weight: bold;
	font-size: calc((10vh + 10vw)/11);
}

.t1
{
	height: 4vh;
	margin-bottom: 1vh;	
	overflow: auto;
	min-height: 35px;
}

.textboxes_email
{	
	padding-top: 8vh;
    position: absolute;
    display: inline-block;
	/*border: 1px solid black;*/
	float right;
	height: 100px/6vh;
	width: 60vw;		
}


#corpLogout
{
	font-size: calc((10vh + 10vw)/10);
	width: calc((10vh + 10vw))/1.5;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 10px;
	margin-right: 10px;
	background-color: rgb(204,235,252);
}