.title
{
	display: block;
	font-size: 30pt;
	text-align: center;
	margin-top: 100px;
}

#corpPageMain
{
	margin-left: 10vw;
	width: 80vw;
	height: 85vh;
}

.nav
{	
	margin-top: 100px;
	margin-left: 25px;
	float left;
	border:2px orange solid;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 6vh;
	padding-bottom: 4vh;
	width: 300px;
	height: 300px;
	display: inline-block;
    justify-content: center;
}

.navButton
{
	width: 300px;
	height: 70px;
	line-height: 70px;
    text-align: center;
	font-size: 2em;
	background-color: white;
	display: block;
	margin-bottom: 50px;
	overflow: auto;
}

.rooms
{
	margin: 100px;
	position: absolute;
	display: inline-block;
	border: 1px solid black;
	float right;
	width: 1000px;
}

.room
{
	display: block;
	border: 1px solid grey;
	width:100px;
	height: 100px;
}

#corpLogout
{
	font-size: 20pt;
	width: 140px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 100px;
	margin-right: 10px;
	background-color: rgb(204,235,252);
}