#parentContainer
{
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	position: absolute;	
	overflow: visible;
}

.button
{
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	border: 1px solid black;
}

.input
{ 
	margin-bottom:5px;
	font-family: 'Oswald', sans-serif;
	margin: 0 auto; 
	display: block; 
}

.u
{
	margin-bottom: 5px;
}

#footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	margin-top: 75px;
	width:100vw;
	height: 10vh;
	background-color: grey;
	border-bottom: 2vh solid black;
}

#gwestyFooter
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	position: fixed;
	right: 0;
	bottom: 0;
	padding-right: 1vw;
	color: white;
	font-size: 2vw;
}
.a{
    text-decoration: none;
}