.title
{
	display: block;
	font-size: calc((10vh + 10vw)/7);
	text-align: center;
	margin-top: 100px;
}

.subtitle
{
	width: 30vw;
    text-align: center;
	display: inline-block;
	margin-bottom: 4vh;
	margin-top: calc((14vh + 14vw)/2);
    margin-left:15vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: calc((8vw + 8vh)/10);
    position: absolute;
}
.subtitle2
{
	width: 30vw;
    text-align: center;
	display: inline-block;
	margin-bottom: 4vh;
	margin-top: calc((14vh + 14vw)/2);
    margin-left:48vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: calc((8vw + 8vh)/10);
    position: absolute;
}

.titles
{
	position: absolute;
    display:inline-block;
	float: right;
	font-weight: bolder;
	font-size: calc((10vw + 10vh)/10);
	margin-top: -5vh;
	
	
}
.t1
{
	height: 4vh;
	margin-bottom: 2vh;	
	overflow: auto;
	min-height: 35px;

}

.roomTitle
{
	margin-left: 2vw;
 	display: inline-block;
}

.booking_detail_btn
{
	width: 18vw;
    text-align: center;
	font-size: calc((10vw + 10vh)/7);
	background-color: white;
	display: inline-block;
	margin-top: 10vh;
    overflow: auto;
    margin-left: 22vw;
    border:none;
    float:left;
    border-bottom: 0.5vw solid white;
    position:absolute;
}

.contact_detail_btn
{
	width: 18vw;
    text-align: center;
	font-size: calc((10vw + 10vh)/7);
	background-color: white;
	display: inline-block;
	margin-top: 10vh;
    overflow: auto;
    margin-left: 45vw;
    border:none;
    float:left;
    border-bottom: 0.5vw solid white;
    position:absolute;
}

.confirm_btn
{
	width: 18vw;
    text-align: center;
	font-size: calc((10vw + 10vh)/7);
	background-color: white;
	display: inline-block;
	margin-top: 10vh;
    overflow: auto;
    margin-left: 65vw;
    border:none;
    float:left;
    border-bottom: 0.5vw solid white;
    position:absolute;
}
.booking_detail_btn:active, .contact_detail_btn:active, .confirm_btn:active { 
	border-bottom-color: orange;}
.left-container{
	position: fixed;
	height:40.33vh;
    margin-top: calc((23vh + 23vw)/2);
    margin-left: 20vw;
    margin-bottom: 2vh;
    float:left;
    width:30%;
    padding-top: 4vh;
}

.right-container{
	height:40.33vh;
    margin-top: calc((23vh + 23vw)/2);   
    margin-left: 55vw;
    margin-bottom: 2vh;
    position: fixed;
    width:30%;
    padding-top: 4vh;
   
    
}
.roomtype{
	margin-left: 12vw;
	padding:1vh;
	margin-top: 9vh;
}
.guests{
	margin-left:12vw;
	margin-top: -4vh;
	padding-bottom: 10vh;
}
.sel{
	width:15vw;
	border:0.2vh solid black;
	background-color: white;
	height:4vh;
	padding-left: 3vw;
	text-align: center;	
	font-size: calc((10vw + 10vh)/17);
}

.reason{
	margin-left: 14vw;
	padding:1vh;
	margin-top: 2vh;
	text-align: center;	
}
.checkin-out-cont{
	margin-top: 2.5vh;
	position: relative;
   
}
input[type=date]{
    font-family: sans-serif;
    text-align: center;
    height:4vh;
    padding-left: 4.5vh;
    width:12.9vw;
    border: 0.1vh solid black;
   

}
.done{
		background-color: rgb(204,235,252);
		font-size: calc((10vh + 10vw)/10);
		;
}
.done-container{
    margin-top: 70vh; 
	margin-left: 50vw;
	position: absolute;
}


/*contact page css*/
.contact-container{
	height:57vh;
    margin-top: calc((15vh + 15vw)/2);    
    margin-left: 25vw;
    margin-bottom: 2vh;
    position: fixed;
    width:10%;
    padding-top: 4vh;
    
}

.boxes
{
	margin-top:27vh;
	margin-left: 37vw; 
	position: fixed;
	display: inline-block;
	float: right;
	width: 40vw;
	overflow: auto;
}

.box
{
	display: block;
	border: 1px solid grey;
	height: 5vh;
	margin-bottom: 1vh;
	margin-top: 1.5vh;	
	overflow: hidden;
	min-height: 35px;
}
.gender{
	margin-top:22vh;
	margin-left: 37vw;
	display: inline-block;
	position: fixed;
 
}
.footerpayment-container{
    margin-top:84vh;
    width:100vw;
    height:16.66vh;
    background:gray;
    float:left; 
}
}

