body{
    padding:0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    height:100%;
}

.container{
}

#pcontainer{
    padding-bottom: 16.66vh;
    min-height:calc(100vh - 16.66vh);
    float: left;
    position:relative;
}
.headerRow{
    margin-top:10vh;
    margin-left:20%;
    width:60%;
    height:15vh;
    float:left;
}

.headerTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color:grey;
    border-color:grey;
    text-align: center;
    width:33.33%;
    font-size: calc((12.5vh + 12.5vw)/12);
    float:left;
}


.headerLine{
    margin-left:10%;
    margin-top:1vh;
    float:left;
    width:80%;
    border-bottom-width:0.5vh;
    border-bottom-style:solid;
}

.headerActive{
    color:black;
    border-color:dodgerblue!important;
}

.main{
    font-family: 'Open Sans', sans-serif;
    margin-top:1vh;
    margin-left:20%;
    width:60%;
    float:left;
    padding-top:2vh;
    padding-bottom:2vh;
    font-size: calc((12.5vh + 12.5vw)/15);
    box-shadow: 0 .25vmin 0.5vmin 0 rgba(0, 0, 0, 0.2), 0 .375vmin 1.25vmin 0 rgba(0, 0, 0, 0.19);
}

.mainFooter{
    font-family: 'Open Sans', sans-serif;
    margin-top:1vh;
    margin-left:20%;
    width:60%;
    text-align: center;
    font-size: calc((12.5vh + 12.5vw)/12);
    float:left;
    margin-bottom:4vh;
}

.nextButton{
    padding:calc((12.5vh + 12.5vw)/120);
    float:left;
    width:calc(5 * (12.5vh + 12.5vw)/12);
    margin-left:calc((100% - (5 * (12.5vh + 12.5vw)/12))/2);
    text-align: center;
}

.mainCol{
    width:50%;
    float:left;
}

.midCol{
    width:70%;
    float:left;
    margin-left:15%;
}

.colRow{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    float:left;
    margin-top:0.5vh;
    font-weight: bold;
}

.rowTitle{
    color:black;
    font-size: calc((12.5vh + 12.5vw)/12); 
    margin-bottom:0.5vh;
}

.rowInput{
    float:right;
    font-size: calc((12.5vh + 12.5vw)/15);
    font-weight: normal;
}

.rowOutput{
    float:right;
    font-size: calc((12.5vh + 12.5vw)/15);
    color:gray;
    font-weight: normal;
}

.priceRow{
    margin-top:calc((0.5vh + (12.5vh + 12.5vw)/12) * 4);
}

.subRow{
    margin-left:6%;
    width:89%;
}

#hotelImg{
    margin-top:1vh;
    width:100%;
    height:30vh;
    background:grey;
    float:left;
    display: block;
}
