body{
    height:100%;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
}
#parentContainer
{
    box-sizing: border-box;
    font-size: 100%;
    position: absolute; 
    overflow: visible;
    overflow-x: hidden;
    margin:0px;
    width: 100vw;
}

.button
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:black;
    cursor:pointer;
    float:left;
    border: 1px solid gainsboro;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.input
{ 
    width: calc((30vw + 30vh)/4);
    height: calc((30vw + 30vh)/30);
    margin-bottom:5px;
    font-family: 'Oswald', sans-serif;
    font-size: calc((10vw + 10vh)/15);
    margin: 0 auto; 
    display: block; 
}

.u
{
    margin-bottom: 5px;
}
/*
#footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 75px;
    width:100vw;
    height: 10vh;
    background-color: grey;
    border-bottom: 2vh solid black;
}

#gwestyFooter
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: fixed;
    right: 0;
    bottom: 0;
    padding-right: 1vw;
    color: white;
    font-size: 2vw;
}
*/
.a{
    text-decoration: none;
}

/*header*/
.header{
    font-family: 'Open Sans', sans-serif;
    float:right;
    position: relative;
    display: block;
    top:1vh;
    margin-right:2vw;
    color:gray;
    font-size: 1em;
}

.headerLabel{
    float: left;
    position: relative;
    text-align: center;
    width:calc(1em * 5);
    display: block;
}

#currency:hover{
    background:rgba(205,205,205,0.25)
}

#Sign-in:hover{
    background:rgba(205,205,205,0.25)
}

#Logged-in:hover{
    background:rgba(205,205,205,0.25)
}

#Logged-in{
    display: none;
}

.divider{
    width:auto;
    top:-0.1em;
}

.fixedPopDownList{
    position: absolute;
    background: white;
    width:calc(1em * 3);
    box-shadow: 0 .25vmin 0.5vmin 0 rgba(0, 0, 0, 0.2), 0 .375vmin 1.25vmin 0 rgba(0, 0, 0, 0.19);
    display:none;
    z-index: 0;
}

#currencyDrop{
    margin-left:calc((100% - (1em * 3))/8);
    top:1.5em;
    text-align: center;
}

#signDrop{
    width:100%;
    margin-left:0px;
    top:1.5em;
    text-align: left;
    padding-bottom:0.5em;
}

#signDrop input{
    border-color: gainsboro;
    border-style:solid;
    border-width:0.5px;
    width:calc(100% - 2.25em);
    margin-left:1em;
    
}

#loggedDrop{
    width:100%;
    margin-left:0px;
    top:1.5em;
    text-align: left;
    padding-bottom:0.5em;
}

#loggedDrop input{
    border-color: gainsboro;
    border-style:solid;
    border-width:0.5px;
    width:calc(100% - 2.25em);
    margin-left:1em;
    
}

.sign .button{
    width:50%;
    margin-left:25%;
    margin-top:0.5em;
}


.fixedPopDownItem{
    position: relative;
    float: left;
    width:100%;
    font-size: 0.75em;
}

.signTitle{
    margin-top:0.5em;
    margin-left:1em;
    width:calc(100% - 1em);
}

.signMidTitle{
    margin-top:0.25em;
    text-align: center;
}


.fixedPopDownItem:hover{
    background:rgba(205,205,205,0.25);
}

.logged a{
    color:gray;
}

.logged ul{
    width:auto;
}


.signTitle:hover{
    background:none;
}

.signMidTitle:hover{
    background:none;
}
/*header*/


/*Footer*/

#pcontainer{
    padding-bottom: 16.66vh;
    min-height:calc(100vh - 16.66vh);
    float: left;
    position:relative;
    width:100%;
}

.footer{
    font-family: 'Open Sans', sans-serif;
    width:100%;
    height:16.66vh;
    background:gray;
    float:left; 
    position:absolute;
    bottom:0;
}

.footerQuarter{
    width:25%;
    height:calc(16.66vh - 1vh);
    padding-top:1vh;
    float:left; 
}

.footerQuarterTitle{
    height:calc((16.66vh - 3vh)/2 + ((25vh + 25vw)/30));
    color:white;
    float:left; 
    font-size: calc((25vh + 25vw)/30);
    padding-top:calc((16.66vh - 3vh)/2 - ((25vh + 25vw)/30));
    margin-left:20%;
    font-weight: 900;
    display: block;
    width:30%;
}

.footerQuarterText{
    height:calc((16.66vh - 3vh)/2 + (2.5*((25vh + 25vw)/45)));
    color:white;
    float:left; 
    font-size: calc((25vh + 25vw)/45);
    padding-top:calc((16.66vh - 3vh)/2 - (2.5*((25vh + 25vw)/45)));
    margin-left:20%;
    display: block;
    width:30%;
}

.footerHalf{
    width:48%;
    height:calc(16.66vh - 3vh - ((25vh + 25vw)/50));
    padding-top:calc(1vh + ((25vh + 25vw)/50));
    padding-right:2%;
    float:left; 
    text-align:right;
    font-size: calc((25vh + 25vw)/10);
    color:white;
    font-weight: 900;
    display: block;
    
}

/*footer*/

/*popup*/
.popupCon{
    position:fixed;
    height: 100%;
    width:100%;
    background:rgba(0,0,0,.75);
    z-index: 2;
    display: none;
}

.popup{
    position:absolute;
    width:30%;
    left:35%;
    padding-bottom: 1.5em;
    top:15%;
    background: white;
    padding-top: 1em;
}

.popupItem{
    margin-top: .5em;
    display: inline-block;
    width:25%;
    margin-left:15%;
}

.g-signin2{
    /*margin-top: .25em;*/
    margin-top: 2%;
    display: inline-block;
    width:30%;
    margin-left:45%;
}
.signout{
    
    display: inline-block;
    width:30%;
    margin-left:10%;
    display:none;
    background-color: #1B80E6;
    border:none;
    text-align: center;
    text-decoration: none;
    height:6vh;
    color: white;
    font-size: 2vh;
}
.popup input{
    border-color: gainsboro;
    border-style:solid;
    border-width:0.5px;
    margin-left:1em;
    
}

.popup .button{
    width:50%;
    margin-left:25%;
    margin-top:2em;
}

.center{
    width:100%;
    margin-left: 0px;
    text-align: center;  
}

div{
    cursor: default;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

/*popup*/

a{
    color:white;
}

#Signup{
    cursor:pointer;
}

#Log-out{
    cursor:pointer;
}

.gb{
    margin-top: 4% !important;
    margin-left: calc((100% - 120px)/ 2) !important;
}

#gb2 .abcRioButton abcRioButtonBlue{
    box-shadow: none;
}

.settings{
    display:none;
}
