.title
{
	display: block;
	font-size: calc((10vh + 10vw)/7);
	text-align: center;
	margin-top: 5vh;
    width:100%;
    float:left;
}

#parentContainer
{
	width:100%;
    height:100vh;
}

#corpPageMain
{
	margin-left: 10vw;
	width: 80vw;
    float: left;
    margin-bottom:4vh;
}

.nav
{	
	/*margin-top: calc((10vh)/5);*/
	float:left;
	padding-top: calc((25vw + 25vh)/12);
	width: auto;
	display: inline-block;
    justify-content: center;
}

.navButton
{
	width: 15vw;
    text-align: center;
	font-size: calc((10vw + 10vh)/12.5);
	background-color: white;
	display: block;
	margin-bottom: calc((25vw + 25vh)/30);
	overflow: auto;
}

.navButton:active{
    background:orange;
}

.rooms
{
	margin-left: 10vw;
    margin-top:calc((25vw + 25vh)/12);
	position: relative;
	display: inline-block;
	/*border: 1px solid black;*/
	float: left;
	width: 50vw;
    height: 30vh;
	overflow: auto;
	font-size: calc((10vh + 10vw)/12.5);
}

.room
{
	display: block;
	border: 1px solid grey;
	height: 4vh;
	margin-bottom: 1vh;
	overflow: hidden;
	min-height: 35px;
}

.removeRoom
{
	border: 1px solid black;
	background-color: red;
	color: white;
	margin-left: 1vw;
	margin-top: 1vh;
	display: inline;
	width: 50px/2vw;
	height: 50px/2vw;
	overflow: auto;
}

.removeRoom:active
{
	background-color: darkred;
}

.roomTitle
{
	margin-left: 2vw;
 	display: inline;
	height: 4vh;
	margin-bottom: 1vh;
	padding:1px;
	overflow: auto;
	min-height: 35px;
}

.roomType
{
	margin-left:7vw;
 	display: inline;
	height: 4vh;
	margin-bottom: 1vh;
	padding:1px;
	overflow: auto;
	min-height: 35px;
}

.roomPrice
{
	display: inline;
	position: absolute;
	right:0;
	margin-right: 6vw;
	height: 4vh;
	padding: 1px;
	margin-bottom: 1vh;	
	overflow: auto;
	min-height: 35px;
}

.info
{
	border: 1px solid black;
	background-color: #169CF3;
	color: white;
	position: absolute;
	right:0;
	margin-right: 1vw;
	margin-top: -25px;
	display: inline;
	width: 50px/2vw;
	height: 50px/2vw;
}

.info:active
{
	background-color: #0D5B8E;
}

#edit
{
	width: 100vw;
	height: 88vh;
	position: fixed;
	left: 0;
	top: 0;
}

#editBackground
{
	background-color: hsla(360, 0%, 41%, 0.5);
	border: 1px solid hsla(360, 0%, 41%, 0.5);
	width: 100vw;
	height: 88vh;
	position: fixed;
	left: 0;
	top: 0;
}

.editBox
{
	background-color: white;
	border:1px solid black;
	width: 30vw;
	height:60vh;
	position: fixed;
	left: 0;
	top: 0;
	margin-top: 20vh;
	margin-left: 35vw;
	overflow-x:hidden;
	overflow-y: auto;
}

.editBoxTitle
{
	background-color: orange;
	border-bottom:0.1vh solid black;
	width: 30vw;
	height:4.5vh;
	font-size: 3vh;
	text-align: center;
}

.editBoxInput
{
	font-size: 2.5vh;
	display: inline-block;
	margin-top: 4vh;
	margin-left: 1vw;
	margin-right: 1vw;
}

#editRoomTitle
{
	position: absolute;
	width: 20vw;
	right: 0;
}

#editRoomDescription
{
	font-family: 'Open Sans', sans-serif;
	border:1px solid black;
	overflow: auto;
	text-align: left;
	position: absolute;
	right: 0;
	width: 20vw;
	height: 14.5vh;
	word-wrap: break-word;
}

#editRoomType
{
	position: absolute;
	width: 20vw;
	right: 0;
}

#editRoomGuest
{
	position: absolute;
	width: 20vw;
	right: 0;
}

#editRoomPrice
{
	position: absolute;
	width: 20vw;
	right: 0;
}

#Done
{
	position: absolute;
	text-align: center;
	font-size: 2.5vh;
	margin-left: 14vw;
	margin-top: 1vh;
}

#corpLogout
{
	font-size: calc((10vh + 10vw)/10);
	width: calc((10vh + 10vw))/1.5;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 10px;
	margin-right: 10px;
	background-color: rgb(204,235,252);
}
/* info container*/
.information
{
	margin: calc((10vh + 10vw)/5);
	position: absolute;
	display: inline-block;
	float right;
	width: 40vw;
	height: 100px/5vh;
	overflow: auto;
	margin-left: 85vh;
}
/* info buttons*/
.info
{
	border: 1px solid black;
	background-color: #169CF3;
	color: white;
	position: absolute;
	right:0;
	margin-right: 1vw;
	margin-top: 1vh;
	display: inline;
	width: 50px/2vw;
	height: 50px/2vw;
	overflow: auto;
}

.info:active
{
	background-color: #0D5B8E;
}

